<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Reset Password</title>
</head>
<body>

    <div id="container" class="h-screen pt-20 bg-gray-200 flex justify-center items-center px-4 gap-8">
        <form id="form"
            class=" bg-zinc-100 w-full lg:w-[40%] md:w-[70%] rounded-lg shadow-md p-2 flex flex-col gap-4 p-4">

            <!-- Password input -->
            <div id="input-password" class="flex flex-col gap-2 text-lg relative">
                <label for="password-input" class=" text-black font-semibold">
                    New Password <span class=" text-red-500">*</span>
                </label>

                
                <div class="relative">

                    <input type="password" id="password-input"
                        class="border border-zinc-200 p-2 rounded-md bg-transparent focus:outline-0 focus:ring-2 focus:ring-blue-400 ease-in duration-200 text-slate-800 font-semibold w-full">
                    <!-- ICONOS -->
                    <div class="absolute right-1 top-1 bottom-1 px-2 flex justify-center items-center bg-zinc-100">
                        <svg class="w-6 h-6 text-red-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg class="w-6 h-6 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>


                </div>

                <p class="dark:text-red-400 text-red-500 font-semibold text-sm hidden">Minimum 8 characters. <br> Must include 
                    one capital letter, one special character, and at least one number.</p>
            </div>
            <!-- Confirm password input -->
            <div id="input-password-confirm" class="flex flex-col gap-2 text-lg relative">
                <label for="confirm-input" class=" text-black font-semibold">
                    Confirm New Password <span class="text-red-500">*</span>
                </label>
                <div class="relative">
                    <input type="password" id="confirm-input"
                        class="border  border-zinc-200 p-2 rounded-md bg-transparent focus:outline-0 focus:ring-2 focus:ring-blue-400 ease-in duration-200 text-slate-800 font-semibold w-full">

                     <!-- ICONOS -->
                     <div class="absolute right-1 top-1 bottom-1 px-2 flex justify-center items-center bg-zinc-100">
                        <svg class="w-6 h-6 text-red-500 hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg class="w-6 h-6 text-green-500 hidden" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>


                </div>

                <p class="dark:text-red-500 text-red-500 font-semibold text-sm hidden">Must match the password placed in the above field
                </p>
            </div>
            <!-- Button -->
            <button id="form-btn"
                class="bg-blue-600 rounded-md hover:bg-blue-500 p-2 text-green-50 uppercase font-semibold ease-in duration-300">Reset Password</button>
            <!-- <img src="../images/undraw_join_re_w1lh.svg" alt="" class="fixed right-0 bottom-0 z-0"> -->

        
        </form>
        <!-- <div class="hidden lg:flex w-[40%] h-[70%] flex justify-center items-center">
            <img src="/images/signupimg.svg" alt="" class="h-full">
        </div> -->
    </div>

    <script type="module" src="../components/notification.js"></script>
    <script type="module" src="index.js"></script>
</body>
</html>